@model SmartTutor.Models.Answer

@{
    ViewData["Title"] = "ExamSummary";
}

<h1>ExamSummary</h1>

<div>
    <h4>Answer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnswerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExamId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExamId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
